<%= form_with(model: data_visualization) do |form| %>
  <% if data_visualization.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(data_visualization.errors.count, "error") %> prohibited this data_visualization from being saved:</h2>

      <ul>
        <% data_visualization.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :cx %>
    <%= form.text_field :cx %>
  </div>

  <div class="field">
    <%= form.label :cy %>
    <%= form.text_field :cy %>
  </div>

  <div class="field">
    <%= form.label :r %>
    <%= form.text_field :r %>
  </div>

  <div class="field">
    <%= form.label :id %>
    <%= form.text_field :id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
