<p id="notice"><%= notice %></p>

<h1>Visualização</h1>
<div id="dataTable" class="card">
  <div class="card-header">
    <h4 class="card-title">
      <%= I18n.t('activerecord.models.import.other') %>
    </h4>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th>Import name</th>
            <th>Import Id</th>
            <th colspan="3"></th>
          </tr>
        </thead>
        <tbody>
          <% @data_visualizations.each do |data_visualization| %>
            <% unless Import.find(data_visualization.import_id).archived === true %>
              <tr>
                <td><%= Import.find(data_visualization.import_id).name %></td>

                <td><%= data_visualization.import_id %></td>
                <td><%= link_to 'Show', data_visualization %></td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <div class="pagination-block">
    <%= paginate @data_visualizations, class: "pagination"%>
  </div>

</div>
