<p id="notice"><%= notice %></p>

<p>
  <strong>Cx:</strong>
  <%= @data_visualization.cx %>
</p>

<p>
  <strong>Cy:</strong>
  <%= @data_visualization.cy %>
</p>

<p>
  <strong>R:</strong>
  <%= @data_visualization.r %>
</p>

<p>
  <strong>Id:</strong>
  <%= @data_visualization.id %>
</p>

<%= link_to 'Edit', edit_data_visualization_path(@data_visualization) %> |
<%= link_to 'Back', data_visualizations_path %>
