<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>

<div class="card card-statistics">
  <div class="card-header">
    <h4 class="card-title">
      <%= I18n.t('activerecord.models.cluster_info.outher') %>
    </h4>
  </div>
  <div class="card-body statistics-body">
    <div class="row">
    <div class="col-xl-3 col-sm-6 col-12 mb-2 mb-xl-0">
          <div class="d-flex flex-row">
              <div class="avatar bg-light-primary me-2">
                  <div class="avatar-content">
                      <i data-feather="user" class="avatar-icon"></i>
                  </div>
              </div>
              <div class="my-auto">
                  <h4 class="fw-bolder mb-0">
                    <%= I18n.t('activerecord.attributes.cluster_info.data_sets') %>
                  </h4>
                  <p class="card-text font-small-3 mb-0">
                    <%= @cluster_info.data_sets %>
                  </p>
              </div>
          </div>
      </div>
      <div class="col-xl-3 col-sm-6 col-8 mb-2 mb-xl-0">
          <div class="d-flex flex-row">
              <div class="avatar bg-light-primary me-2">
                  <div class="avatar-content">
                      <i data-feather="bar-chart" class="avatar-icon"></i>
                  </div>
              </div>
              <div class="my-auto">
                  <h4 class="fw-bolder mb-0">
                    <%= I18n.t('activerecord.attributes.cluster_info.algorithm') %>
                  </h4>
                  <p class="card-text font-small-3 mb-0">
                    <%= @cluster_info.algorithm %>
                  </p>
              </div>
          </div>
      </div>
      
      <div class="col-xl-3 col-sm-6 col-12 mb-2 mb-sm-0">
          <div class="d-flex flex-row">
              <div class="avatar bg-light-primary me-2">
                  <div class="avatar-content">
                      <i data-feather="file" class="avatar-icon"></i>
                  </div>
              </div>
              <div class="my-auto">
                  <h4 class="fw-bolder mb-0">
                    <%= I18n.t('activerecord.attributes.cluster_info.description') %>
                  </h4>
                  <p class="card-text font-small-3 mb-0">
                    <%= @cluster_info.description %>
                  </p>
              </div>
          </div>
      </div>
    </div>
  </div>
</div>


<script>
Apex.tooltip =  {
    custom: function({series, seriesIndex, dataPointIndex, w}) {
      var data = w.globals.initialSeries[seriesIndex].data[dataPointIndex];
      console.log(w.globals);
      console.log(dataPointIndex);
      console.log(data)
      console.log(data[3]["info"][0])

      return '<ul class="arrow_box">' +
      '<li><b>CX</b>: ' + data[0] + '</li>' +
      '<li><b>CY</b>: ' + data[1] + '</li>' +
      '<li><b>Value Buble</b>: ' + data[3]["r"] + '</li>' +
      '<li><b>Info</b>: \'' + data[3]["info"][0]["value"] + '\'</li>' +
      '</ul>';
    }
  }
</script>

<% bubble_series = @data_visualization.map do |category|
{
  name: category[0]["cluster"],
  data: category[0]["itens"].map{ |item| [ 
    item["cx"].to_f, 
    item["cy"].to_f, 
    item["r_scale"],
    r:  item["r"],
    id: item["id"],
    info: DataVisualizationInfo.where(data_visualization_item: item["id"])
  ]}
}
end %>
<%= bubble_chart(bubble_series, @data_visualization_columns) %>

<div class="chat">
  <div class="messages-list-block">
    <% for message in @messages %>
      <% if message.user_id == current_user.id %>
      <div class="current_user">
        <span class="message-email message-email-current-user">
          <%= message.user.email %>
          -
          <span class=""><%= message.created_at.to_datetime.to_s(:short)%></span>
        </span>
        <p class="message-item message-item-current-user"><%= message.content %></p>
      </div>
      <% else %>
      <div class="outhers_user">
        <span class="message-email">
          <%= message.user.email %>
          -
          <span class=""><%= message.created_at.to_datetime.to_s(:short) %></span>
        </span>
        <p class="message-item"><%= message.content %></p>
      </div>
      <% end %>
    <% end %>
  </div>
  <div class="messages-list-footer">
    <%= form_with model: Message, url: messages_path, local: true,  remote: true, id: 'new-message-form' do  |f| %>
    <%= csrf_meta_tags %>
      <%= f.hidden_field :data_visualization_id, value: params[:id] %>

      <%= f.text_field :content %>
      <button type="submit" id="message_btn" onclick="send_msn">Send Message</button>
    <% end %>
  </div>
</div>

<script>
function send_msn() {
  document.getElementById("message-content").value = "";
}
</script>