<% if current_user.kind == "admin" %>
<div class="card card-statistics">
  <div class="card-header">
    <h4 class="card-title">
      <%= I18n.t('views.home.statistic') %>
    </h4>
  </div>
  <div class="card-body statistics-body">
    <div class="row">
    <div class="col-xl-3 col-sm-6 col-12 mb-2 mb-xl-0">
          <div class="d-flex flex-row">
              <div class="avatar bg-light-primary me-2">
                  <div class="avatar-content">
                      <i data-feather="user" class="avatar-icon"></i>
                  </div>
              </div>
              <div class="my-auto">
                  <h4 class="fw-bolder mb-0"><%= User.count %></h4>
                  <p class="card-text font-small-3 mb-0">
                    <%= I18n.t('activerecord.models.user.other') %>
                  </p>
              </div>
          </div>
      </div>
      <div class="col-xl-3 col-sm-6 col-8 mb-2 mb-xl-0">
          <div class="d-flex flex-row">
              <div class="avatar bg-light-primary me-2">
                  <div class="avatar-content">
                      <i data-feather="bar-chart" class="avatar-icon"></i>
                  </div>
              </div>
              <div class="my-auto">
                  <h4 class="fw-bolder mb-0"><%= DataVisualization.count %></h4>
                  <p class="card-text font-small-3 mb-0">
                    <%= I18n.t('activerecord.models.data_visualization.other') %>

                  </p>
              </div>
          </div>
      </div>
      
      <div class="col-xl-3 col-sm-6 col-12 mb-2 mb-sm-0">
          <div class="d-flex flex-row">
              <div class="avatar bg-light-primary me-2">
                  <div class="avatar-content">
                      <i data-feather="file" class="avatar-icon"></i>
                  </div>
              </div>
              <div class="my-auto">
                  <h4 class="fw-bolder mb-0"><%= Import.count %></h4>
                  <p class="card-text font-small-3 mb-0">
                    <%= I18n.t('activerecord.models.import.other') %>
                  </p>
              </div>
          </div>
      </div>
    </div>
  </div>
</div>
<% end %>
<!--/ Statistics Card -->