<% if current_user.kind == "admin" %>
<div class="card card-statistics">
  <div class="card-header">
    <h4 class="card-title">
      <%= I18n.t('views.home.statistic') %>
    </h4>
  </div>
  <div class="card-body statistics-body">
    <div class="row">
    <div class="col-xl-3 col-sm-6 col-12 mb-2 mb-xl-0">
          <div class="d-flex flex-row">
              <div class="avatar bg-light-primary me-2">
                  <div class="avatar-content">
                      <i data-feather="user" class="avatar-icon"></i>
                  </div>
              </div>
              <div class="my-auto">
                  <h4 class="fw-bolder mb-0"><%= User.count %></h4>
                  <p class="card-text font-small-3 mb-0">
                    <%= I18n.t('activerecord.models.user.other') %>
                  </p>
              </div>
          </div>
      </div>
      <div class="col-xl-3 col-sm-6 col-8 mb-2 mb-xl-0">
          <div class="d-flex flex-row">
              <div class="avatar bg-light-primary me-2">
                  <div class="avatar-content">
                      <i data-feather="bar-chart" class="avatar-icon"></i>
                  </div>
              </div>
              <div class="my-auto">
                  <h4 class="fw-bolder mb-0"><%= DataVisualization.count %></h4>
                  <p class="card-text font-small-3 mb-0">
                    <%= I18n.t('activerecord.models.data_visualization.other') %>

                  </p>
              </div>
          </div>
      </div>
      
      <div class="col-xl-3 col-sm-6 col-12 mb-2 mb-sm-0">
          <div class="d-flex flex-row">
              <div class="avatar bg-light-primary me-2">
                  <div class="avatar-content">
                      <i data-feather="file" class="avatar-icon"></i>
                  </div>
              </div>
              <div class="my-auto">
                  <h4 class="fw-bolder mb-0"><%= Import.count %></h4>
                  <p class="card-text font-small-3 mb-0">
                    <%= I18n.t('activerecord.models.import.other') %>
                  </p>
              </div>
          </div>
      </div>
    </div>
  </div>
</div>
<% end %>

<!--/ Statistics Card -->

<div class="banner card">
  <div class="row">
    <div class="col-3">
      <%= image_tag('bubble-graph.png', alt: 'https://www.flaticon.com/free-icons/bubble-graph - Bubble graph icons created by Muhammad_Usman ') %>
    </div>
     <div class="col-9">
      <p>Com um amplo leque de possibilidades de se trabalhar com os dados gerados através da mineração, e utilizando exclusivamente o método de aprendizado de máquina não supervisionado, o sistema Asta surge para auxiliar na visualização desses dados. </p>
      <p>Ao inserir no sistema os dados em formato json <%= link_to "de acordo com o exemplo desse link", download_exemple_file_path %> trazemos para você ou sua empresa de formas simples e intuitiva os dados no formato de gráfico bubble chart.</p>
    </div>
  </div>
  <div class="row">
     <div class="col-9">
      <p>Mas não paramos por aí... Ainda pensando na segurança e no fácil entendimento dos dados gerados não só por analistas mas também por usuários mais leigos, o Asta disponibiliza para o administrador  a criação dos usuários e defina a quais gráficos esse determinado usuário terá acesso.</p>
      <p>E mais... Pensando em insights e dúvidas que os usuários podem ter na visualização desses gráficos, o Asta possibilita a inserção de comentários para cada gráfico gerado, se tornando assim diferente de sistemas de visualização de dados já existentes no mercado.</p>
    </div>
    <div class="col-3">
      <%= image_tag('comments.png', alt: 'https://www.flaticon.com/free-icons/comment - Comment icons created by Freepik - Flaticon') %>
    </div>
  </div>
</div>
