<div  style="margin: 0 auto; witdh: 400px;">

  <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
          </div>
          <div class="card-body">
            <div class="row">
              <%= form_with(model: import) do |form| %>
                <% if import.errors.any? %>
                  <div id="error_explanation">
                    <h2><%= pluralize(import.errors.count, "error") %> prohibited this import from being saved:</h2>

                    <ul>
                      <% import.errors.each do |error| %>
                        <li><%= error.full_message %></li>
                      <% end %>
                    </ul>
                  </div>
                <% end %>
                  <div class="col-sm-6 col-12">
                    <div class="field mb-2">
                      <%= form.label :file, class: "form-label" %>
                      <%= form.file_field :file, class: "form-control" %>
                    </div>
                  </div>
                  <div class="col-sm-6 col-12">
                    <div class="field mb-2">
                      <%= form.label :name, class: "form-label" %>
                      <%= form.text_field :name, class: "form-control" %>
                    </div>
                  </div>
                  <div class="col-sm-6 col-12">
                    <div class="field mb-2">
                      <%= form.button :submit, value:"Log in", class:"btn btn-primary w-100", tabindex:"4" %>
                    </div>
                  </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>