<% if notice.present? %>
  <div class="alert alert-primary" role="alert">
    <div class="alert-body">
      <%= notice%>
    </div>
  </div>
<% end %>

<div id="dataTable" class="card">
  <div class="card-header">
    <h4 class="card-title">
      <%= I18n.t('activerecord.models.import.other') %>
    </h4>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Status</th>
            <th>User</th>
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <% @imports.each do |import| %>
          <tr>
          <td><%= import.name %></td>
          <td>
            <% if import.status == "enqueued" %>
              <span class="badge rounded-pill badge-light-secondary me-1">
              <%= import.human_status %>
              </span>
            <% elsif import.status == "processing" %>
              <span class="badge rounded-pill badge-light-primary me-1">
              <%= import.human_status %>
              </span>
            <% elsif import.status == "done" %>
              <span class="badge rounded-pill badge-light-success me-1">
              <%= import.human_status %>
              </span>
            <% end%>
              </span>
            </td>
              <td><%= import.user.email %></td>
              <td><%= link_to I18n.t('views.show'), import %></td>
               <% if current_user.kind == "admin" || import.user_id == current_user.id %>
                <td><%= link_to I18n.t('views.edit'), edit_import_path(import) %></td>
              
                <td><%= link_to I18n.t('views.destroy'), controller: "imports", action: "arquived", id: import%></td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <div class="pagination-block">
    <%= paginate @imports, class: "pagination"%>
  </div>
</div>
  

 

<%= link_to I18n.t('views.new'), new_import_path, class:"btn btn-primary waves-effect waves-float waves-light" %>



<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
<script>
$('.delete_post').bind('ajax:success', function() {
    $(this).closest('tr').fadeOut();
});
</script>