<body class="vertical-layout vertical-menu-modern blank-page navbar-floating footer-static  " data-open="click" data-menu="vertical-menu-modern" data-col="blank-page">
    <!-- BEGIN: Content-->
    <div class="app-content content ">
        <div class="content-overlay"></div>
        <div class="header-navbar-shadow"></div>
        <div class="content-wrapper">
            <div class="content-header row">
            </div>
            <div class="content-body">
                <div class="auth-wrapper auth-v2">
                    <div class="auth-inner row m-0">
                        <!-- Brand logo-->
                        <a class="brand-logo" href="#">
                            <h2 class="brand-text text-primary ms-1">Asta</h2>
                        </a>
                        <!-- /Brand logo-->
                        <!-- Left Text-->
                        <div class="d-none d-lg-flex col-lg-8 align-items-center p-5">
                            <div class="w-100 d-lg-flex align-items-center justify-content-center px-5">
                              <%= image_tag("pages/login-v2.svg", class:"img-fluid") %>
                            </div>
                        </div>
                        <!-- /Left Text-->
                        <!-- Login-->
                        <div class="d-flex col-lg-4 align-items-center auth-bg px-2 p-lg-5">
                            <div class="col-12 col-sm-8 col-md-6 col-lg-12 px-xl-2 mx-auto">
                                <h2 class="card-title fw-bold mb-1">
                                
                                <%= I18n.t('welcome')%> Asta! 👋</h2>
                                <p class="card-text mb-2">
                                    <%= I18n.t('views.devise.registration.message')%>
                                </p>
                                <%= form_for(resource, as: resource_name, url: session_path(resource_name), class:"auth-login-form mt-2" ) do |f| %>

                                    <div class="mb-1">
                                        <%= f.label :email, class:"form-label" %>
                                        <div class="field">
                                          <%= f.email_field(
                                          :email,
                                          autofocus: true,
                                          autocomplete: "email",
                                          placeholder:"email@email.com",
                                          class:"form-control" ,
                                          id:"login-email")
                                          %>
                                        </div>
                                    </div>
                                    <div class="mb-1">
                                        <div class="d-flex justify-content-between">
                                            <%= f.label :password, class:"form-label" %>
                                            <%= link_to new_password_path(resource_name) do %>
                                              <small>
                                              <%= I18n.t('devise.passwords.new.title')%>
                                              </small>
                                            <%end%>

                                        </div>
                                        <div class="input-group input-group-merge form-password-toggle">
                                         <%= f.password_field(
                                          :password, 
                                          autocomplete: "current-password",
                                          autofocus: true,
                                          placeholder:"...............",
                                          class:"form-control" ,
                                          id:"login-password")
                                          %>
                                            
                                        </div>
                                    </div>
                                    <div class="mb-1">
                                        <div class="form-check">
                                        <% if devise_mapping.rememberable? %>
                                            <div class="field">
                                              <%= f.check_box(
                                                :remember_me,
                                                class:"form-check-input"
                                               )%>
                                              <%= f.label :remember_me, class:"form-check-label" %>
                                            </div>
                                          <% end %>
                                        </div>
                                    </div>
                                    <%= f.button :submit, class:"btn btn-primary w-100", tabindex:"4" do %>
                                      <%= I18n.t('devise.registrations.new.submit')%>
                                    <% end %>

                                <% end %>
                                
                            </div>
                        </div>
                        <!-- /Login-->
                    </div>
                </div>
            </div>
        </div>
    </div>
    