<div class="row">
  <div class="col-md-4">
    <div class="card">
      <div class="card-body">
        <%= form_with model: @user, url: app_users_path do |f| %>
        <% if @user.errors.any? %>
          <div class="alert alert-danger" role="alert">
            <div class="alert-body">
              <span>
                <%= pluralize(@user.errors.count, "error") %> <%= I18n.t('controller.user.error.create') %>
              </span>
            </div>
            </div>
            <% @user.errors.each do |error| %>
              <div class="alert alert-danger" role="alert">
                <div class="alert-body">
                  <span>
                    <%= error.full_message %>
                  </span>
                </div>
              </div>
              <% end %>
            <% end %>
            <div class="row">
            <div class="col-md-12"> 
              <div class="mb-1">
                <%= f.label :email, class:"form-label" %>
                <%= f.text_field :email, class:"form-control"  %>
              </div>
            </div>
            <div class="col-md-12"> 
              <div class="mb-1">
                <%= f.label :password, class:"form-label" %>
                <%= f.password_field :password, class:"form-control"  %>
              </div>
            </div>
            <div class="col-md-12"> 
              <div class="mb-1">
                <%= f.label :password_confirmation, class:"form-label" %>
                <%= f.password_field :password_confirmation, class:"form-control"  %>
              </div>
            </div>
            <div class="col-md-12"> 
              <div class="mb-1">
                <% User.kinds.keys.each do |kind| %>
                  <%= f.radio_button :kind, kind, class:"form-check-input" %>
                  <%= f.label I18n.t("activerecord.attributes.user.kinds.#{kind}"), class: "form-check-label" %>
                <% end %>
              </div>
            </div>

              <div class="col-md-12 ">
                <div class="field mb-2">
                  <%= f.button :submit,  class:"btn btn-primary waves-effect waves-float waves-light" do %>
                    <%= I18n.t('views.new') %>
                  <% end%>
                </div>
              </div>
            <% end %>
            </div>

      </div>
    </div>
  </div>
</div>






