<!DOCTYPE html>
<html class="loading" lang="pt-br" data-textdirection="ltr">
  <head>
    <title>Asta</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    
    <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=0,minimal-ui">
    <meta name="author" content="Marcos Vicente">
    <title>Asta</title>
    <link rel="apple-touch-icon" href="lib/template/app-assets/images/ico/apple-icon-120.png">
    <link rel="shortcut icon" type="image/x-icon" href="lib/template/app-assets/images/ico/favicon.ico">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;1,400;1,500;1,600" rel="stylesheet">



</head>
  </head>

  <body>
  
<body class="vertical-layout vertical-menu-modern  navbar-floating footer-static  " data-open="click" data-menu="vertical-menu-modern" data-col="">

    <!-- BEGIN: Header-->
    <nav class="header-navbar navbar navbar-expand-lg align-items-center navbar-light navbar-shadow fixed-top">
      <div class="navbar-container d-flex content">
        <div class="bookmark-wrapper d-flex align-items-center">
          <ul class="nav navbar-nav d-xl-none">
            <li class="nav-item"><a class="nav-link menu-toggle" href="#"><i class="ficon" data-feather="menu"></i></a></li>
          </ul>
        </div>
        <ul class="nav navbar-nav align-items-center ms-auto">
          <li class="nav-item dropdown dropdown-language">
          <a class="nav-link dropdown-toggle" id="dropdown-flag" href="#" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="flag-icon flag-icon-us"></i>
            <span class="selected-language">
              <%= I18n.t('views.change_language') %>
            </span>
          </a>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdown-flag">
            <a class="dropdown-item" href="<%= url_for( :locale => 'en' ) %>" data-language="en">
                <i class="flag-icon flag-icon-us"></i> 
                English
            </a>

            <a class="dropdown-item" href="<%= url_for( :locale => 'pt-BR' ) %>" data-language="pt">
                <i class="flag-icon flag-icon-pt"></i> 
                Portuguese
                </a>
            </div>
          </li>
         
          <li class="nav-item dropdown dropdown-user"><a class="nav-link dropdown-toggle dropdown-user-link" id="dropdown-user" href="#" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <div class="user-nav d-sm-flex d-none">
              <span class="user-name fw-bolder">
                <%= current_user.email %>
              </span>
              <span class="user-status">
                <%= current_user.human_kind %>
              </span>
            </div>
            <span class="avatar">
              <%# <img class="round" src="../../../app-assets/images/portrait/small/avatar-s-11.jpg" alt="avatar" height="40" width="40"> %>
              

              <%# <span class="avatar-status-online"></span> %>
              </span>
            </a>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdown-user">
              <%= link_to(edit_user_registration_path(locale: I18n.locale), class: "dropdown-item") do%>
                <i class="me-50" data-feather="user"></i> 
                <%= I18n.t('views.profile') %>
              <% end %>
            
              <%= button_to(destroy_user_session_path, :method => :delete, class:"dropdown-item" ) do %>
                <i class="me-50" data-feather="power"></i> 
                <%= I18n.t('views.logout') %>
              <% end %>
            </div>
          </li>
        </ul>
      </div>
    </nav>
    <!-- END: Header-->


    <!-- BEGIN: Main Menu-->
    <div class="main-menu menu-fixed menu-light menu-accordion menu-shadow" data-scroll-to-active="true">
      <div class="navbar-header">
        <ul class="nav navbar-nav flex-row">
          <li class="nav-item me-auto"><a class="navbar-brand" href="/">
            <span class="brand-logo">
              
            </span>
              <h2 class="brand-text">Asta</h2></a></li>
          <li class="nav-item nav-toggle"><a class="nav-link modern-nav-toggle pe-0" data-bs-toggle="collapse"><i class="d-block d-xl-none text-primary toggle-icon font-medium-4" data-feather="x"></i><i class="d-none d-xl-block collapse-toggle-icon font-medium-4  text-primary" data-feather="disc" data-ticon="disc"></i></a></li>
        </ul>
      </div>
      <div class="shadow-bottom"></div>
      <div class="main-menu-content">
        <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation">
        <li class=" navigation-header">
            <span>
              <%= I18n.t('activerecord.models.import.other') %>
            </span>
            <i data-feather="more-horizontal"></i>
          </li>
          <li class=" nav-item">
          <a class="d-flex align-items-center">
            <i data-feather="file"></i>
            <span class="menu-title text-truncate">      
              <%= I18n.t('activerecord.models.import.other') %>
            </span>
          </a>
            <ul class="menu-content">
              <li>
              <%= link_to(imports_path(locale: I18n.locale), class: "d-flex align-items-center")  do %>
                <i data-feather="circle"></i>
                <span class="menu-item text-truncate">
                  <%= I18n.t('views.all') %>
                </span>
              <% end %>
              </li>
              <li>
                <%= link_to(new_import_path(locale: I18n.locale), class: "d-flex align-items-center")  do %>
                  <i data-feather="circle"></i>
                  <span class="menu-item text-truncate">
                    <%= I18n.t('views.new') %>
                  </span>
                <%end%>
              </li>
            </ul>
          </li>

          <% if current_user.kind == "admin" %>
            <li class=" navigation-header">
              <span>
                <%= I18n.t('activerecord.models.user.other') %>
              </span>
              <i data-feather="more-horizontal"></i>
            </li>
            <li class=" nav-item">
              <a class="d-flex align-items-center">
                <i data-feather="user"></i>
                <span class="menu-title text-truncate">
                <%= I18n.t('activerecord.models.user.other') %>
              </span>
              </a>
              <ul class="menu-content">
                <li>
                  <%= link_to(app_users_path(locale: I18n.locale), class: "d-flex align-items-center")  do %>
                    <i data-feather="circle"></i>
                    <span class="menu-item text-truncate">
                      <%= I18n.t('views.all') %>
                    </span>
                  <% end %>
                </li>
                <li>
                  <%= link_to(new_app_user_path(locale: I18n.locale), class: "d-flex align-items-center")  do %>
                    <i data-feather="circle"></i>
                    <span class="menu-item text-truncate">
                      <%= I18n.t('views.new') %>
                    </span>
                  <% end %>
                </li>
              </ul>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
    <!-- END: Main Menu-->

    <!-- BEGIN: Content-->
    <div class="app-content content ">
      <div class="content-overlay"></div>
      <div class="header-navbar-shadow"></div>
      <div class="content-wrapper container-xxl p-0">
        <div class="content-body">
          <div class="row">
            <div class="col-12">
              <%= yield %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- END: Content-->


    <!-- BEGIN: Customizer-->
    <div class="customizer d-none d-md-block"><a class="customizer-toggle d-flex align-items-center justify-content-center" href="#"><i class="spinner" data-feather="settings"></i></a><div class="customizer-content">
  <!-- Customizer header -->
  <div class="customizer-header px-2 pt-1 pb-0 position-relative">
    <h4 class="mb-0">Theme Customizer</h4>
    <p class="m-0">Customize & Preview in Real Time</p>

    <a class="customizer-close" href="#"><i data-feather="x"></i></a>
  </div>

  <hr />

  <!-- Styling & Text Direction -->
  <div class="customizer-styling-direction px-2">
    <p class="fw-bold">Skin</p>
    <div class="d-flex">
      <div class="form-check me-1">
        <input
          type="radio"
          id="skinlight"
          name="skinradio"
          class="form-check-input layout-name"
          checked
          data-layout=""
        />
        <label class="form-check-label" for="skinlight">Light</label>
      </div>
      <div class="form-check me-1">
        <input
          type="radio"
          id="skinbordered"
          name="skinradio"
          class="form-check-input layout-name"
          data-layout="bordered-layout"
        />
        <label class="form-check-label" for="skinbordered">Bordered</label>
      </div>
      <div class="form-check me-1">
        <input
          type="radio"
          id="skindark"
          name="skinradio"
          class="form-check-input layout-name"
          data-layout="dark-layout"
        />
        <label class="form-check-label" for="skindark">Dark</label>
      </div>
      <div class="form-check">
        <input
          type="radio"
          id="skinsemidark"
          name="skinradio"
          class="form-check-input layout-name"
          data-layout="semi-dark-layout"
        />
        <label class="form-check-label" for="skinsemidark">Semi Dark</label>
      </div>
    </div>
  </div>

  <hr />

  <!-- Menu -->
  <div class="customizer-menu px-2">
    <div id="customizer-menu-collapsible" class="d-flex">
      <p class="fw-bold me-auto m-0">Menu Collapsed</p>
      <div class="form-check form-check-primary form-switch">
        <input type="checkbox" class="form-check-input" id="collapse-sidebar-switch" />
        <label class="form-check-label" for="collapse-sidebar-switch"></label>
      </div>
    </div>
  </div>
  <hr />

  <!-- Layout Width -->
  <div class="customizer-footer px-2">
    <p class="fw-bold">Layout Width</p>
    <div class="d-flex">
      <div class="form-check me-1">
        <input type="radio" id="layout-width-full" name="layoutWidth" class="form-check-input" checked />
        <label class="form-check-label" for="layout-width-full">Full Width</label>
      </div>
      <div class="form-check me-1">
        <input type="radio" id="layout-width-boxed" name="layoutWidth" class="form-check-input" />
        <label class="form-check-label" for="layout-width-boxed">Boxed</label>
      </div>
    </div>
  </div>
  <hr />

  <!-- Navbar -->
  <div class="customizer-navbar px-2">
    <div id="customizer-navbar-colors">
      <p class="fw-bold">Navbar Color</p>
      <ul class="list-inline unstyled-list">
        <li class="color-box bg-white border selected" data-navbar-default=""></li>
        <li class="color-box bg-primary" data-navbar-color="bg-primary"></li>
        <li class="color-box bg-secondary" data-navbar-color="bg-secondary"></li>
        <li class="color-box bg-success" data-navbar-color="bg-success"></li>
        <li class="color-box bg-danger" data-navbar-color="bg-danger"></li>
        <li class="color-box bg-info" data-navbar-color="bg-info"></li>
        <li class="color-box bg-warning" data-navbar-color="bg-warning"></li>
        <li class="color-box bg-dark" data-navbar-color="bg-dark"></li>
      </ul>
    </div>

    <p class="navbar-type-text fw-bold">Navbar Type</p>
    <div class="d-flex">
      <div class="form-check me-1">
        <input type="radio" id="nav-type-floating" name="navType" class="form-check-input" checked />
        <label class="form-check-label" for="nav-type-floating">Floating</label>
      </div>
      <div class="form-check me-1">
        <input type="radio" id="nav-type-sticky" name="navType" class="form-check-input" />
        <label class="form-check-label" for="nav-type-sticky">Sticky</label>
      </div>
      <div class="form-check me-1">
        <input type="radio" id="nav-type-static" name="navType" class="form-check-input" />
        <label class="form-check-label" for="nav-type-static">Static</label>
      </div>
      <div class="form-check">
        <input type="radio" id="nav-type-hidden" name="navType" class="form-check-input" />
        <label class="form-check-label" for="nav-type-hidden">Hidden</label>
      </div>
    </div>
  </div>
  <hr />

        <!-- Footer -->
        <div class="customizer-footer px-2">
            <p class="fw-bold">Footer Type</p>
            <div class="d-flex">
            <div class="form-check me-1">
                <input type="radio" id="footer-type-sticky" name="footerType" class="form-check-input" />
                <label class="form-check-label" for="footer-type-sticky">Sticky</label>
            </div>
            <div class="form-check me-1">
                <input type="radio" id="footer-type-static" name="footerType" class="form-check-input" checked />
                <label class="form-check-label" for="footer-type-static">Static</label>
            </div>
            <div class="form-check me-1">
                <input type="radio" id="footer-type-hidden" name="footerType" class="form-check-input" />
                <label class="form-check-label" for="footer-type-hidden">Hidden</label>
            </div>
            </div>
        </div>
        </div>

    </div>


    </div>
    <div class="sidenav-overlay"></div>
    <div class="drag-target"></div>

    <!-- BEGIN: Footer-->
    <footer class="footer footer-static footer-light">
     
    </footer>
    <!-- END: Footer-->


<script src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js"></script>

   
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>



    

    <%= javascript_include_tag 'application' %>

    <%= javascript_include_tag 'vendors' %>

    <%= javascript_include_tag 'core/app-menu.js' %>
    <%= javascript_include_tag 'core/app.js' %>
    <%= javascript_include_tag 'scripts/customizer' %>
    
    <%= javascript_include_tag 'scripts/pages/dashboard-analytics.js' %>
    <script>
    $(document).ready(function(){
        if (feather) {
            feather.replace({
                width: 14,
                    height: 14
                });
            }
        });
    </script>
  </body>
</html>
